*{
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
}
.wrapper-app{
  padding: 32px 30px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  width: 351px;
  height: 352px;
}
.icon-start{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3741;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.icon-start img{
  margin-top: -2px;
  height: 20px;
  width: 20px;
}
.title-card{
  font-size: 28px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-top: 30px;
}
.description-card{
  font-size: 15px;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  margin-top: 15px;
}
.container-numbers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.icon-number{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  cursor: pointer;
}
.icon-number:hover{
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}
.numbers-act{
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
.numbers-inital{
  background-color: #2d3741;
  color: hsl(217, 12%, 63%);
}
.numbers{
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
}
.button{
  margin-top: 32px;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.07em;
}
.button:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}


.wrapper-app-two{
  text-align: center;
  padding: 45px 30px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  width: 351px;
  height: 352px;
}
.image{
  width: 162px;
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto 0;
  height: 35px;
  width: 200px;
  background-color: #2d3741;
  border-radius: 16px;
}
.text-result{
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  color: hsl(25, 97%, 53%);
}
.title-card-resul{
  margin-top: 35px;
}
.description-card-resul{
  margin: 15px auto 0;
  width: 340px;
}